/* nav {
        background-color: rgb(57, 191, 224);
      }
      body {
        background-color: #e0f2f1;
      }
      tbody {
        background-color: white;
      }
      .sidenav {
        background-color: #dfedea;
      }

      thead{
        background-color: #90a4ae;;
      } */
  
      a {
        color: black !important;
      }